<app-header></app-header>

<div class="divMainPage">

    <!-- div geral com todos os elementos da página -->
    <div class="chartAndDash">
          <div class="divMainPage2">
    
        <div class="titleAndSelect">
            <h1>Dashboard Ford</h1>
            <select [(ngModel)]="optionSelect" id="dropdownVehicle" (change)="atualizarOptionSelect()" class="form-select" aria-label="Default select example">
                <option value="1">Ranger</option>
                <option value="2">Mustang</option>
                <option value="3">Territory</option>
                <option value="4">Bronco Sport</option>
            </select>
        </div>

        <div class="groupperDiv">
            <!-- Div que agrupará os menus superiores -->

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-receipt-cutoff"></i>
                <span class="spanDivModel">Total de vendas</span>
                </div>
                <span class="spanInfoBlue">{{totalDeVendas}}</span>
                <span class="spanSubtitle">Und.</span>
            </div>

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-wifi"></i>
                <span class="spanDivModel">Conectados</span>
                </div>
                <span class="spanInfoBlue">{{totalConectados}}</span>
                <span class="spanSubtitle">Und.</span>
            </div>

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-download"></i>
                <span class="spanDivModel">Update Software</span>
                </div>
                <span class="spanInfoBlue">{{updateSOftware}}</span>
                <span class="spanSubtitle">Und.</span>
            </div>

        </div>

        <div class="centralImageVehicle">
            <img [src]="imagemVeiculo" alt="Imagem do veículo">
        </div>

        <div class="divVinVehicle">
            <input id="inputVin" class="inputVin" type="text" placeholder="Insira o VIN do veículo">
              <button (click)="atualizarVeiculoSelecionadoVIN()" type="button" class="btn btn-primary">  <i class="bi bi-search"></i> Buscar</button>

        </div>

        
        <div class="divNewTable">
            <table class="newtable">
                <thead>
                    <tr>
                        <th>Odômetro</th>
                        <th style="width: 170px;">Nível de combustível</th>
                        <th style="width: 80px;">Status</th>
                        <th>Lat.</th>
                        <th class="lastThTable">Long.</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{odometro}}</td>
                        <td>{{nivelDeCombustivel}}</td>
                        <td>{{statusVeiculo}}</td>
                        <td>{{latitude}}</td>
                        <td>{{longitude}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="chart">

     <app-vendas-chart></app-vendas-chart>
     <app-grafico-conectados></app-grafico-conectados>
     <app-updates-chart></app-updates-chart>
    </div>
    </div>

    <div class="cardsmobile">
        <div class="cardsMobileSection">
            <div class="cardsMobileTitle">
                <i class="bi bi-speedometer2"></i>
                <span >Odômetro</span>
            </div>
            <span class="dynamicInfoCardsMobile">{{odometro}}</span>
        </div>

        <div class="cardsMobileSection">

            <div class="cardsMobileTitle">
                <i class="bi bi-fuel-pump"></i>
                <span>Combustível</span>
            </div>
            <span class="dynamicInfoCardsMobile">{{nivelDeCombustivel}}%</span>
        </div>

        <div class="cardsMobileSection">
            <div class="cardsMobileTitle">
                <i class="bi bi-bell"></i>
                <span>Status</span>
            </div>
            <span class="dynamicInfoCardsMobile">{{statusVeiculo}}</span>
        </div>

        <div class="cardsMobileSection">
            <div class="cardsMobileTitle">
                <i class="bi bi-pin-map"></i>
                <span>Lat.</span>
            </div>
            <span class="dynamicInfoCardsMobile">{{latitude}}</span>
        </div>

        <div class="cardsMobileSection">
            <div class="cardsMobileTitle">
                <i class="bi bi-globe-europe-africa"></i>
                <span>Long.</span>
            </div>
            <span class="dynamicInfoCardsMobile">{{longitude}}</span>
        </div>



    </div>
</div>

