<app-header></app-header>

<div class="divMainPage">

    <!-- div geral com todos os elementos da página -->
    <div class="chartAndDash">
          <div class="divMainPage2">
    
        <div class="titleAndSelect">
            <h1>Dashboard Ford</h1>
            <select #dropdownVehicle class="form-select" aria-label="Default select example">
                <option value="1">Ranger</option>
                <option value="2">Mustang</option>
                <option value="3">Territory</option>
                <option value="4">Bronco Sport</option>
            </select>
        </div>

        <div class="groupperDiv">
            <!-- Div que agrupará os menus superiores -->

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-receipt-cutoff"></i>
                <span class="spanDivModel">Total de vendas</span>
                </div>
                <span class="spanInfoBlue">1500</span>
                <span class="spanSubtitle">Und.</span>
            </div>

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-wifi"></i>
                <span class="spanDivModel">Conectados</span>
                </div>
                <span class="spanInfoBlue">1000</span>
                <span class="spanSubtitle">Und.</span>
            </div>

            <div class="divMainModel">
                <div class="divMenuCards">
                <i class="bi bi-download"></i>
                <span class="spanDivModel">Update Software</span>
                </div>
                <span class="spanInfoBlue">750</span>
                <span class="spanSubtitle">Und.</span>
            </div>

        </div>

        <div class="centralImageVehicle">
            <img src="/public/assets/ranger.png" alt="Imagem do veículo">
        </div>

        <!-- outra table teste -->
        <div class="divNewTable">
            <table class="newtable">
                <thead>
                    <tr>
                        <th>Odômetro</th>
                        <th style="width: 170px;">Nível de combustível</th>
                        <th style="width: 80px;">Status</th>
                        <th>Lat.</th>
                        <th class="lastThTable">Long.</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>50000</td>
                        <td>70%</td>
                        <td>On</td>
                        <td>-15,0005</td>
                        <td>50000</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="chart">
        <select class="selectChartType" name="selectChartType" id="selectChartType">
            <option value="bar">Barras</option>
            <option value="line">Linhas</option>
            <option value="pie">Pizza</option>
        </select>
     <app-vendas-chart></app-vendas-chart>
     <app-grafico-conectados></app-grafico-conectados>
     <app-updates-chart></app-updates-chart>
    </div>
    </div>


</div>

