
h1{
    color: var(--corAzulMarinho);
}

.titleAndSelect{
    margin-top: 30px;
    display: flex; 
    flex-direction: row; 
    max-width: 1200px; 
    width: 100%;
    justify-content: space-between
}

.divMainModel{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    border: solid 1px #000000;
    box-shadow: 4px 4px 4px 2px #00000034;
    border-radius: 10px;
    background-color: white;
}

.spanDivModel{
    height: 40px;
    padding: 8px  ;
    color: var(--corAzulMarinho);

}

.bi-receipt-cutoff, .bi-wifi, .bi-download{
    font-size: 20px;
    color: var(--corAzulMarinho);
    margin-top: 2px;
}

.form-select{
    max-width: 180px;
    text-align: center;
    align-self: center;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px var(--corAzulFraco);
}

option:hover{
    background-color: var(--corAzulFraco);
}

.groupperDiv{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;

}

.spanInfoBlue{
    align-self: center;
    color:  var(--corAzulMarinho);
    font-size: 22px;
    margin-bottom: 0px;
}

.spanSubtitle{
    align-self: center;
    height:min-content;
    color:  var(--corAzulMarinho);
    align-items: flex-start;
}

.centralImageVehicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: var(--corAzulMarinho); */
    background-image: url('https://img.freepik.com/fotos-premium/estrada-cruzamento-a-campo_69593-5835.jpg?semt=ais_hybrid&w=740');
    background-size: 100% 100%; 
    border: solid 1px #ffffff;
    border-radius: 10px;
    min-height: 300px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.centralImageVehicle img {
    width: 100%;
    align-self: center;
}

.backgroundAzulTable{
    background-color: white;
    color: var(--corAzulMarinho);
}

.cardsMobileSection{

    border: solid 1px #00000036;
    border-radius: 5px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 4px 2px;
    height: 100px;
}

.cardsMobileTitle{
    display: flex;
    background-color: #00095B;
    color: white;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.cardsmobile{
    display: none;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dynamicInfoCardsMobile{
    margin-top: 15px;
    font-weight: bold;
}


.divMainPage{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: 75vh;
    background: #F8FBFE;
    padding: 100px 0px;

}

.divVinVehicle{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.inputVin{
    height: 38px;
    padding: 6px 12px;
    align-self: center;
    border-radius: 5px;
    flex-grow: 1;
    width: max-content;
}

.btn-primary{
    background-color: var(--corAzulMarinho);
}

.btn-primary:hover{
    background-color: var(--corAzulFraco);
}


.divMainPage2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    max-width: 700px;
    border: solid 3px rgb(202, 194, 194);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 2px;
    background: white;
    max-height: 710px;
}


.divMainModel:hover{
    border-color: var(--corAzulFraco);
    
}


.divNewTable{
    display: flex;
    max-width: 800px;
    width: 100%;
    border: solid 1px var(--corAzulMarinho);
    border-radius: 5px;
}

.newtable{
    table-layout: fixed;
    max-width: 800px;
    width: 100%;
}


th, td{
    white-space: nowrap;
    margin-right: 20px;
    text-align: center;
    
}

th{
    color: var(--corAzulMarinho);
    border: none;
}

td{
    margin-left: 10px;
    background-color: white;
}

thead{
    background-color: white;
}

.firstThTable{
    background-color: white; 
    color: var(--corAzulMarinho); 
    border-top-left-radius: 5px;
    width: 200px;
}

.lastThTable{
    background-color: white; 
    color: var(--corAzulMarinho); 
    border-top-right-radius: 5px;
}

.chartAndDash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
}

.chart{
    margin-left: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    max-width: 1000px;
    border: solid 3px rgb(202, 194, 194);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 2px;
    background: white;
    margin-right: 30px;

}

.divMenuCards{
    display: flex; 
    flex-direction: row; 
    padding-left: 20px; 
    border-bottom: solid 1px; 
    width: 100%; 
    border-color: #00095B;
}


@media(max-width:1151px){
    .spanDivModel{
        font-size: 16px;
    }
}

@media(max-width:1061px){
    .spanDivModel{
        font-size: 14px;
    }

    .divMenuCards{
    padding-left: 5px;
    }
}

@media(max-width:996px){
    .chart{
        display: none;
    }

    .divMainPage2{
        margin-right: 20px;
        margin-top: 150px;
    }

    .chartAndDash{
        margin-top: -90px;
    }
}

@media(max-width:587px){
    .groupperDiv{
        flex-wrap: wrap;
    }

    table, .divNewTable{
        display: none;
    }

    .cardsmobile{
        display: flex;
        padding-bottom: 30px;
    }

    .divMainPage2{
        margin-top: 480px;
    }
}

@media(max-width:534px){
    .divMainModel{
    max-width: 425px;
    }

    .spanDivModel{
        font-size: 20px;
    }

    .divMenuCards{
        align-items: center;
        justify-content: center;
    }

    .divMainPage2{
        padding-top: 80px;
    }

    .divVinVehicle{
    display: none;
    }

    .centralImageVehicle{
        min-height: 200px;
    }

}

@media(max-width:504px){
    h1{
        font-size: 22px;
    }

    .centralImageVehicle{
        height: 100px;
    }

}

@media(max-width:450px){
    .titleAndSelect{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .form-select{
        max-width: 345px;
    }

    .divMainPage2{
        padding-top: 30px;
    }

    .centralImageVehicle{
        height: 200px;
        padding: 0px;
    }


    
}

@media(max-width:410px){
    .divMainPage2{
        margin-top: 600px;
    }

}

