<footer >
    <div class="divMainFooter">
        <div class="divSpanAndSocialNetwork">
            <span style="align-self: center; width: 100px;">Redes Sociais</span>
            <div class="socialNetwork">
                <i (click)="openSocialNetwork('instagram')" class="bi bi-instagram"></i>
                <i (click)="openSocialNetwork('facebook')" class="bi bi-facebook"></i>
                <i (click)="openSocialNetwork('youtube')"  class="bi bi-youtube"></i>
            </div>
        </div>
        <span class="copyrightDesktop">Copyright © 2025 Ford Motor Company - Todos os direitos reservados</span>
        
        <app-logo-image></app-logo-image>

    </div>
    <span class="copyrightMobile">Copyright © 2025 Ford Motor Company - Todos os direitos reservados</span>
</footer>