
<app-header style="z-index: 50; position: relative;"></app-header>


<div
  [ngStyle]="{
    'background-image': 'url(' + imgListCarousel[indexNextImageToDisplay] + ')',
    'background-size': 'cover',
    'filter': 'blur(8px)',
    'background-repeat': 'no-repeat'
  }"
  class="image-container">
</div>

<!-- <div>

</div> -->


<div class="divVehicleAndSpan">
    <img class="vehicleCentralImage" [src]="imgListCarousel[indexNextImageToDisplay]" [alt]="imgListCarousel[indexNextImageToDisplay]">
</div>
<div style="display: flex; flex-direction: column; height: fit-content;" class="span">
  <span class="carInfo">{{infoCallToAction[indexNextImageToDisplay]}}</span>
  <span (click)="goToLancamentoPage()" class="carInfo2">{{infoListCarousel[indexNextImageToDisplay]}}</span>
</div>



<app-footer></app-footer>