
<app-header></app-header>



<div class="divVehicleAndSpan">
    <img class="vehicleCentralImage" src="https://www.ford.com.br/content/ford/br/pt_br/home/jcr:content/par/mboxcontainer_1896419093/generalParsys/billboard/imageComponent/image.imgs.full.high.jpg" alt="">
    <div class="callToActionLeft">
        <span class="spanNewRanger">Nova Ranger Raptor</span>
        <span class="spanConheça">Conheça</span>
    </div>
    <span class="carInfo">Ford Ranger. Confira o lançamento!</span>
</div>



<app-footer></app-footer>